---
const PROJECTS = [
    {
        title: 'My Tinerary',
        description: 'Sitio web con el fin de armar itinerarios en diferentes ciudades del mundo',
        desctecnologies: 'Para este proyecto se utilizaron tecnologias en Frontend como React, reduxjs/toolkit, react-router-dom, react-oauth/google, axios, Tailwind y para Backend Express, bcrypt, jsonwebtoken, Mongo DB.',
        video: 'https://youtu.be/pmdEht7lJBg',
        image: './projects-images/mytinerary-shot.webp',
    },
]
---
<h2 class="text-xl font-bold text-center pb-6 sm:text-4xl">Proyectos</h2>
{
    PROJECTS.map(project => (
        <article>
            <h3 class="text-lg sm:text-2xl text-center font-bold py-2">{project.title}</h3>
            <p class="text-balance sm:text-xl"><span class="font-bold">Descripcion:</span> {project.description}</p>
            <p class="text-balance pb-3 sm:text-xl"><span class="font-bold">Tecnologías: </span> {project.desctecnologies}</p>
            <img class="w-full" src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`} />
            <p class="text-lg text-center pt-3 sm:text-xl">Puedes verlo en un video <a href={project.video} target="_blank"><span class="font-bold">DEMO AQUI</span></a></p>
        </article>
    ))
}